{% extends 'imoveis/base.html '%}
{% load static %}
{% block content %}

<div class="content-sobre"></div>
<main>
    <div class="container">
        <form id="cadastroForm" style="display: block" method="post">
    
        <p><strong><h2 class="h2-sobre">Bem vindo ao espaço dedicado à conscientização sobre zoonoses em Uberlândia.</h2></strong><br><br>
            
        <p> As zoonoses são doenças transmitidas entre animais e seres humanos, e a compreensão de sua prevenção é crucial para a saúde pública.</p><br>
    
        <p><strong>O que são Zoonoses:</strong> Zoonoses são doenças que podem ser transmitidas de animais para humanos. Estas podem variar de doenças transmitidas por insetos a infecções de animais domésticos.</p><br>
    
        <p><strong>Importância da Conscientização:</strong> A conscientização sobre zoonoses é fundamental para prevenir surtos e proteger a saúde pública. Ao compreender os riscos e adotar práticas preventivas, podemos criar uma comunidade mais saudável.</p><br>
    
        <p><strong>Zoonoses em Uberlândia:</strong> Na região de Uberlândia, as principais preocupações incluem doenças transmitidas por mosquitos, como dengue, zika e chikungunya, bem como infecções associadas a animais domésticos. Manter a vigilância é essencial para controlar essas ameaças.</p><br>
    
        <p><strong>Medidas de Prevenção:</strong></p>
        <ul>
            <li>Elimine locais de reprodução de mosquitos.</li>
            <li>Vacine seus animais de estimação.</li>
            <li>Mantenha uma boa higiene pessoal.</li>
            <li>Evite contato direto com animais doentes.</li><br>
        </ul>
    
        <p><strong>Atuação das Autoridades Locais:</strong> A Prefeitura de Uberlândia, em parceria com organizações de saúde, está empenhada em prevenir e controlar zoonoses. Campanhas educativas, serviços de vacinação e ações de controle de vetores são implementadas regularmente.</p><br>
    
        <ul>
            <li class="sobre-li">Centro de Controle de Zoonoses de Uberlândia</li>
            <li class="sobre-li">Endereço: Avenida Alexandrino Alves Vieira, 1423, bairro Liberdade</li>
            <li class="sobre-li">3213-1470 / 3213-1418</li><br>
            
        </ul>
    
        <p><strong>Parcerias e Colaborações:</strong> Trabalhamos em estreita colaboração com organizações locais de proteção animal e outras entidades para promover a conscientização e garantir a saúde de nossa comunidade.</p><br>
    
        <p><strong>Contato e Mais Informações:</strong> Para mais informações sobre zoonoses em Uberlândia, entre em contato com o Centro de Controle de Zoonoses ou acesse nosso <a href="https://www.uberlandia.mg.gov.br/prefeitura/secretarias/saude/centro-de-controle-de-zoonoses/" target="_blank">Site Oficial.</a></p>
    
    </html>
    </form>
    </main>
    </div>
        
        
        
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

        {% endblock %}
